<!DOCTYPE html>
<html>

{% include head.html %}

<body class="no-sidebar">
    <div id="page-wrapper">

        {% include header.html %}

        <!-- Main -->
        <div id="main-wrapper">
            <div class="container">
                <div id="content">

                    <!-- Content -->

                    <article>
                        <h2>{{ page.title }}</h2>

                        Content: {{ page.content }}


                    </article>
                </div>
            </div>

        </div>

    </div>
    <!-- eo #page-wrapper -->

    {% include footer.html %}

</body>

</html>
